.navbar{
    width: 100%;
    position: fixed;
    background-color: #fefefe !important;
    opacity: 100% !important;
    z-index: 2;
    box-shadow: 0 0 0.2rem #1e1e1e52;
    transition: opacity .3s ease, transform .3s ease;
}
.hidden {
    display: none;
    pointer-events: none;
    transform: translateY(-20px);
}
.container-fluid{
    max-width: 800px;
    //border: 1px solid red;
}
a{
    cursor: pointer;
}

@media(max-width:768px){
    .itens{
        flex-direction: column;
        max-width: 8rem;
    }
}