.navbar{
    width: 100%;
    position: fixed;
    background-color: #fefefe !important;
    opacity: 100% !important;
    z-index: 1;
}
.container-fluid{
    max-width: 800px;
    //border: 1px solid red;
}