.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.enterprise-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin-top: 5rem;
  padding: 0 1rem;
  flex: 1;
}

.trips {
  width: 100%;
}

.table-responsive{
    box-shadow: 0 0 0.1rem #1e1e1e;
    border-radius: 0.5rem;
    overflow-x: auto !important;
    max-width: 100%;
}
.table{
    margin: 0;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}
