<div class="container-fluid w-100 px-0">
    <app-nav class="w-100"></app-nav>
    <div class="dashboard-container">
        <section name="enterprises" class="enterprises mt-3 w-100 d-flex flex-column align-items-center px-2" style="max-width: 800px;">
            <div class="enterprises-menu w-100 d-flex flex-row justify-content-between mt-5">
                <h3 class="fs-5 fw-bold">Paradas</h3>
                <app-custom-button
                    name="Adicionar"
                    (click)="add()"
                ></app-custom-button>
            </div>
            <div class="table-responsive w-100 mt-3">
                <table class="table table-hover w-100">
                    <thead>
                        <tr>
                            <th scope="col">Porto</th>
                            <th scope="col">Data</th>
                            <th scope="col">Hora</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (stop of trip.trip_stops; track $index) {                            
                                <tr style="vertical-align: middle;">
                                    <td class="fs-6">{{getHarborName(stop?.harbor)}}</td>
                                    <td class="fs-6">{{stop.stop_datetime | date:'dd/MM/yyyy'}}</td>
                                    <td class="fs-6">{{ stop.stop_datetime | date:'HH:mm' }}</td>
                                    @if ($index !== 0 && $index !== trip.trip_stops!.length - 1) {
                                        <td>
                                            <div class="d-flex gap-2 justify-content-end">
                                                <app-custom-button
                                                    name="excluir"
                                                    variant="del"
                                                    (click)="del(stop.id!); $event.stopPropagation()"
                                                ></app-custom-button>
                                            </div>
                                        </td>
                                    }@else {
                                        <td>
                                            <p style="height: 100%;"></p>
                                        </td>
                                    }
                                </tr> 
                            }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <app-footer class="mt-5 w-100"></app-footer>
</div>