.primary{
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}
.primary:hover{
    background: #112fc9;
    
}