.container-fluid{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.enterprise-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto;
    margin-top: 5rem;
}
.table{
    box-shadow: 0 0 0.1rem #1e1e1e;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 100%;
}
.trips,.routes{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}