.card-enterprise-container{
    width: 15rem;   
    height: 15rem; 
    border: 0.05rem solid var(--color-border);
    padding: 1rem;
    border-radius: 0.5rem;
    aspect-ratio: 5 / 4;

}
p{
    text-align: justify;
}