.card-enterprise-container{ 
    padding: 1rem;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.1rem var(--color-border);
    cursor: pointer;

}
.card-enterprise-container:hover{
    border: none;
    box-shadow: 0 0 0.2rem var(--color-border);
}
p{
    text-align: justify;
}