footer{
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.facebook:hover{
    size: 120%;
    transform: scale(110%);
}
.x:hover{
    size: 120%;
    transform: scale(110%);

}
.instagram:hover{
    size: 120%;
    transform: scale(110%);
}