<footer class="d-flex py-3" style="height: auto;background-color: var(--color-primary);">
    <div class="left d-flex pt-2 flex-column align-items-center">
        <img src="/logo.svg" width="36x" height="36px" alt="">
        <h3 class="fw-bold fs-6" style="color: white;">AquaGO!</h3>
        <p style="color:#fefefe;opacity: 80%;" class="w-100">Rápido, simples e seguro, seu caminho pelo futuro.</p>
    </div>
    <div class="right d-flex gap-3 pb-3">
        <img class="instagram" src="assets/icons/instagram.svg" (click)="lucas()" alt="instagram">
        <img class="x" src="assets/icons/x.svg" (click)="theus()" alt="x">
        <img class="facebook" src="assets/icons/facebook.svg" (click)="robby()" alt="facebook">
    </div>
</footer>