.custom-input {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    height: auto;
    justify-content: center;
}

.custom-input input {
    border: none;
    padding: 0.5rem 0;
    background: transparent;
    flex: 1;
    min-width: 0;
    line-height: 1.5;
}

.custom-input input:focus {
    outline: none;
}

.custom-input:focus-within {
    background-color: #f4f4f4;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.primary {
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.primary:hover, .primary:active {
    background-color: var(--color-primary-activated);
}
