.custom-input{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    height: auto;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    padding: 0.5rem 0;
    background: transparent;
    flex: 1;
    min-width: 0;
}
input:active,input:hover,input:focus{
    border: none;
    outline: none;
}
.custom-input:focus-within{
    background-color: #f4f4f4;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.primary{
    background-color: var(--color-primary);
    color: white;
    border: none;
}
.primary:hover,.primary:active{
    background-color: var(--color-primary-activated)
}