.circle-img{
    width: 6rem;
    border: 300rem;
}

.file::file-selector-button,-webkit-file-upload-button {
  display: none;
}
.file{
    width: 6rem;
    height: 6rem;    
    border: 1px solid var(--color-primary);
    border-radius: 300rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;    
}