.register{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.left-register,.right-register{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
}
.left-register{
    @media(max-width:759px){
        display: none;
    }
}
@media (max-width: 760px){
    .register{
        height: auto;
        height: max-content;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }
    .right-register{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}