.city{
    width: 13rem;
    height: 15rem;
    background-color: var(--color-second);
    background-position:center;
    background-size: cover;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    transition: background-size 0.5s ease-in-out;
    background-repeat: no-repeat;
}
p{
    -webkit-user-select: none;
}
.city:hover{
    border: none;
    background-size: 120%;
    box-shadow: 0 0 1rem var(--color-primary);
}