.city{
    width: 13rem;
    height: 15rem;
    background-position:center;
    background-size: cover;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}
p{
    -webkit-user-select: none;
}