html,body{
    min-height: 100vh;
}
:root{
    //Cores base
    --color-primary: #183EFF;    
    --color-primary-activated: #1434d4;    
    --color-second: #E2E2E2;
    --color-theme: #fefefe;    
    //Estilização
    --color-border: #ADABAB;
    
    //cores de texto
    --color-text: #1e1e1e;
    --color-text-white: #e2e2e2;
}