// 1. Angular Material deve vir primeiro — SEM NADA antes
@use '@angular/material' as mat;

// 2. Tema Angular Material
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  margin: 0;
}

// 4. Suas variáveis personalizadas
:root {
  --color-primary: #183EFF;
  --color-primary-activated: #1434d4;
  --color-second: #E2E2E2;
  --color-theme: #fefefe;

  --color-border: #ADABAB;

  --color-text: #1e1e1e;
  --color-text-white: #e2e2e2;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  color: var(--color-text);
}